<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            color: blanchedalmond;
            background-color: steelblue;
            text-align: center;
          }
          ul {
              list-style: none;
          }
          a  {
            display: block;
            width: 100%;
            border: none;
            background-color: #1a4cc960;
            border-radius: 20px;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
          }
          </style>
</head>
<body>
    <div>
        <p href="/drinks/:id<%=drink%>"><h2>Price: $<%=drink.price%></h2></p>
        <img src='<%=`${drink.image.slice(0,-3)}png`%>'>
        <a href="/drinks/"><h2>Return</h2></a>
    </div>
</body>
</html>